{% extends "base.html" %}
{% block content %}
<input type="hidden" name="count" value="1" />
<div class="control-group" id="fields">
    <form>
        <div>
            <select class="element select medium" id="element_1" name="element_1">
                <option value="" selected="selected"></option>
                <option value="1">First option</option>
                <option value="2">Second option</option>
                <option value="3">Third option</option>
            </select>
            <input autocomplete="off" class="input" id="field1" name="prof1" type="text"/>
            <button id="b1" class="btn add-more" type="button">+</button>
        </div>
    </form>
</div>
{% endblock content %}