{% extends "base.html" %}
{% block content %}
    <br>
    <br>
    <br><br>
    <span style="margin:auto;">
<h2>{{ name }}</h2>
    </span>
    <br><br>
        <span style="margin:auto; display:table; border:1px solid black;">
{{data1 | safe}}
    </span>
    <br>
    <br>
    </span>
    <br><br>
        <span style="margin:auto; display:table; border:1px solid black;">
{{data2 | safe}}
    </span>
        <br>
    <br>
    </span>
    <br><br>
        <span style="margin:auto; display:table; border:1px solid black;">
{{data3 | safe}}
    </span>
{% endblock content %}